body {
  margin-left: auto;
  margin-right: auto;
  max-width: 33em;

  margin-bottom: 5em; /* give space for #menu */
  margin-top: 2.25em; /* give space for breathing */

  margin-left: 20em;
  padding-right: 1em;
}


/* headings */

th, h1, h2, h3, h4, h5, h6, .title {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3em;
  border-bottom: thin solid silver;
}


/* table of contents */

#toc {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 15em;
  padding: 1em;

  border: thin solid red;
  border-left: none;
  border-top: none;
  background-color: snow;
}

#toc li {
  margin-top: 1em;
  margin-left: -1.5em;
}


/* admonitions */

.admonition {
  border: thin solid steelblue;
  background-color: aliceblue;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;

  min-height: 170px;
}

.admonition img {
  margin-right: 2em;
}


/* source code */

tt {
  font-weight: bold;
  color: brown;
  background-color: floralwhite;
}

pre, blockquote .code {
  padding: 1em;
  line-height: normal;
  overflow: auto;
  display: block;
}

pre {
  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* formal blocks; see http://www.sagehill.net/docbookxsl/FormalTitles.html */

.formal {
  margin: 1em;
}

.title {
  display: block;
  font-size: large;
}

.formal .title {
  text-align: center
}


  /* center-align any tables and images */

  .formal table, .formal img {
    margin-left: auto;
    margin-right: auto;
  }

  .formal img {
    display: block;
  }


/* emphasis */

body {
  font-family: sans-serif;
}

em, blockquote {
  font-family: serif;
}

blockquote {
  border-left: thick solid darkkhaki;
  background: beige;
}

hr {
  background-color: red;
  border: none;
}

big {
  font-size: larger;
}

/* fix annoyances */

img {
  margin: 1em;
}

a img {
  border: none;
}

.formal .title {
  margin-top: 3em;
}
