body {
  margin: 0;
  background-color: snow;
  line-height: 160%;
}

#body {
  margin-left: auto;
  margin-right: auto;
  max-width: 37em;

  background-color: white;
  border-left: thick solid salmon;
  border-right: thick solid salmon;
  padding: 2em;
}

#body > h1 {
  margin-top: 0;
}


/* headings */

h1, h2, h3, h4, h5, h6, th, .title {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  padding-top: 3em;
  border-bottom: thin solid silver;
}


/* table of contents */

#toc-links {
  text-align: center;
  border-bottom: thick solid salmon;
  background-color: white;
  padding: 1em;
}

#toc {
  border-top: thick solid salmon;
  background-color: white;
  padding: 1em;
}

#toc li {
  margin-left: -15px;
}


/* latex */

.front_cover {
  margin-bottom: 10em;
}

.front_cover h1,
.front_cover h2,
.front_cover h3,
.front_cover h4,
.front_cover h5,
.front_cover h6 {
  border: none;
  text-align: center;
}

.part,
.chapter {
  padding-top: 3em;
  padding-bottom: 3em;
}

.part > .title,
.chapter > .title {
  border: none;
  padding-bottom: 1em;
}

.part > .title {
  border-bottom: thick solid salmon;
}

.paragraph > .title,
.admonition .title {
  font-family: serif;
  font-size: larger;
}

.paragraph > .title {
  padding-top: 1em;
}


/* admonitions */

.admonition {
  border: thin solid seagreen;
  background-color: honeydew;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  min-height: 150px;
}

.admonition .icon {
  margin-top: 0;
  margin-left: 0;
  float: left;
}


/* source code */

tt {
  font-weight: bold;
  color: brown;
  background-color: floralwhite;
}

pre, blockquote .code {
  padding: 1em;
  line-height: normal;
  overflow: auto;
  display: block;
}

pre {
  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

table {
  background-color: white; /* otherwise it's transparent! */
}

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* formal blocks; see http://www.sagehill.net/docbookxsl/FormalTitles.html */

.formal {
  padding-top: 1em;
  padding-bottom: 1em;
}

.formal .title {
  display: block;
  font-size: large;
  text-align: center
}


  /* center-align any tables and images */

  .formal table, .formal img {
    margin-left: auto;
    margin-right: auto;
  }

  .formal img {
    display: block;
  }


/* emphasis */

body {
  font-family: sans-serif;
}

em, blockquote {
  font-family: serif;
}

blockquote {
  border-left: thick solid darkkhaki;
  background: beige;
}

hr {
  background-color: red;
  border: none;
}

big {
  font-size: larger;
}

a:hover {
  color: red;
}


/* fix annoyances */

img {
  margin: 1em;
}

a img {
  border: none;
}
