@import 'spacing.css';

body {
  line-height: 1.8em;
}


/* tables */

table {
  background-color: white; /* otherwise it's transparent! */
}

th, td {
  padding: 0.5em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* latex */

.front_cover h1,
.front_cover h2,
.front_cover h3,
.front_cover h4,
.front_cover h5,
.front_cover h6 {
  text-align: center;
}


/* admonitions */

.admonition {
  border: thin solid seagreen;
  background-color: honeydew;
}

.admonition .icon {
  margin-top: 0;
  margin-left: 0;
  float: left;
}


/* source code */

tt {
  font-weight: bold;
  color: brown;
  background-color: floralwhite;
}

pre {
  line-height: normal;
  display: block;

  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* formal blocks */

.formal .title {
  display: block;
  font-size: large;
  text-align: center
}

/* center-align any tables and images */
.formal table, .formal img {
  margin-left: auto;
  margin-right: auto;
}
.formal img {
  display: block;
}



/* emphasis */

pre, code, .admonition {
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}


/* fix annoyances */

img {
  margin: 1em;
}

a img {
  border: none;
}
