body {
  font-family: sans-serif;
  line-height: 2em;

  margin-left: 30%;
  margin-right: 10%;

}

/* table of contents */

  #toc:before {
    content: "Table of contents";
  }

  #toc {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;

    width: 20%;
    padding: 1em;
    overflow: auto;

    background-color: white;
  }

  #toc li {
    margin-left: -1em;
    counter-increment: section;
  }

/* admonitions */
  .tip, .note, .important, .caution, .warning {
    border: thin solid steelblue;
    background-color: aliceblue;
    padding: 1em;
  }

  .tip img, .note img, .important img, .caution img, .warning img {
    margin-right: 2em;
  }

/* headings */
  th, h1, h2, h3, h4, h5, h6 {
    font-family: serif;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 5em;
    padding: 0.5em;
  }

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    padding: 1em;
    background-color: mistyrose;
  }

  h2 {
    background-color: bisque;
  }

  h3 {
    background-color: oldlace;
  }

/* source code */
  tt {
    font-weight: bold;
    background-color: whitesmoke;
  }

  pre {
    background-color: whitesmoke;
    border: thin solid silver;
    padding: 1em;
    line-height: normal;
    display: block;
    overflow: auto;
  }

  .CodeRay .code pre {
    font-family: monospace;
    background-color: ivory;
  }

/* tables */
  th, td {
    padding: 1em;
    border: thin solid silver;
  }

  th {
    background-color: whitesmoke;
  }

/* figures */
  .figure {
    margin: 1em;
    text-align: center;
    counter-increment: figure;
  }

  .figure:before {
    content: "Figure " counter(figure) ". ";
  }

  .figure, .title {
    display: block;
    font-size: larger;
  }

/* misc. */
  .cover-page {
    text-align: center;
  }

  a img {
    border: none;
  }

  td pre {
    display: inline;
    border: none;
    padding: 0px;
  }


  /* spacing before admonitions & figures */

  .tip, .note, .important, .caution, .warning, .figure {
    margin-top: 3em;
  }
