@import 'common.css';

#body {
  border: none;
  max-width: none;
  width: auto;
}

#menu {
  display: none;
}

code.code {
  border: none;
  line-height: inherit;
}


/* hyperlinks */

a {
  color: #520;
  font-weight: bold;
  text-decoration: underline;
}

a:after {
 content: " (" attr(href) ")";
 font-family: sans-serif;
 font-weight: normal;
 font-size: 90%;
}

a.ref {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

a.ref:after {
  content: "";
}


/* source code */

pre {
  line-height: 1.5em;
}


/* emphasis */

body {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6, th, .title {
  font-family: sans-serif;
  font-weight: bolder;
}


/* firefox quirks */

li {
  padding-left: 0.5em;
  margin-left: 2em;
}
