body {
	font-family: sans-serif;
}

/* admonitions */
	.tip, .note, .important, .caution, .warning {
		/* border: thin solid lightgreen;
		background-color: honeydew; */
		border: thin solid steelblue;
		background-color: aliceblue;
		padding: 1em;
	}

/* headings */
	.title, th {
		font-family: serif;
	}

/* source code */
	.screen, .filename {
		background-color: whitesmoke;
	}

	.code, .programlisting, .function, .constant, .literal, .varname, .token, .type, .remark {
		font-family: monospace;
		background-color: ivory;
	}

	.screen, .programlisting {
		border: thin solid silver;
		padding: 1em;

		display: block;
		overflow: auto;
	}

	.function {
		color: orangered;
	}

	.constant {
		color: brown;
		font-weight: bold;
	}

	.literal {
		color: darkgreen;
		background-color: honeydew;
	}

	.varname {
		color: magenta;
		/*background-color: ghostwhite;*/
	}

	.token {
		color: dodgerblue;
		font-weight: bold;
	}

	.type {
		color: royalblue;
	}

	.remark {
		color: gray;
	}

	.command {
		background-color: bisque;
	}

/* tables */
	table[border="1"] {
		border: none;
	}

	table[border="1"] th {
		border: none;
		background-color: whitesmoke;
	}

	table[border="1"] th,
	table[border="1"] td {
		border: thin solid silver;
		padding: 1em;
	}
